<h1>Welcome to Kate's Url Shortener!</h1>

<p>Please enter a long URL below</p>

<%= form_for @url do |f|%>
  <%= f.text_field :long_url %>
  <%= f.submit "Shorten!" %>
<% end %>

<a href='/url/leaderboard'>See the leaderboard</a>