<h1>Leaderboard</h1>

<p>These are the top 100 shortened urls:</p>
<ol>
	<%@list.each do |item| %>
		<%@count = "once"%>
		<%@count = "#{item.count} times" unless item.count == 1%>
		<li>
			<%= "#{item.long_url} has been shortened #{@count}." %>
		</li>
	<%end%>
</ol>