<h1>Leaderboard</h1>

<p>These are the top 100 shortened urls:</p>
<ol>
	<%@list.each do |item| %>
		<li>
			<%= "#{item.long_url} has been shortened #{item.count || 1} times." %>
		</li>
	<%end%>
</ol>