<h1>Here's your shiny new shortened URL!</h1>

<p>Long url: <%=@url.long_url%></p>

<p>Short url: <a href=<%=@url.long_url%>><%="http://localhost:3000/url/#{@url.id}"%></a></p>

<%@count = "once"%>
<%@count = "#{@url.count} times" unless @url.count == 1%>
<p>This url has been shortened <%=@count%>.</p>

<br><br>

<a href='/'>Go back and make another!</a><br>
<a href='/url/leaderboard'>See the leaderboard</a>